@use './root.scss';
@use './converter.scss';

$h1-color: root.$h1-color;
$h1-decoration-color: root.$h1-decoration-color;
$odd-article-color: root.$odd-article-color;
$even-article-color: root.$even-article-color;
$footer-color: root.$footer-color;

@mixin border-styling($color, $border-color, $font-size: 1rem){
    color: $color;
    border: converter.converter(2) solid $border-color;
    font-size: $font-size;
    padding: converter.converter(16);
}

.container {
    @include border-styling(black, red);
    margin: converter.converter(16);
    text-align: center;
    h1 {
        text-decoration: underline $h1-decoration-color;
        color: $h1-color;
    }
    section:nth-child(2) {
        display: flex;
    }
    article {
        @include border-styling(black, green);
        &:nth-child(odd) {
            color: $odd-article-color;
        }
        &:nth-child(even) {
            color: $even-article-color;
        }
    }
    .container-footer {
        @include border-styling($footer-color, blue, converter.converter(24));
        margin-top: converter.converter(15);
    }
}
